
#header {
 color: black;
   display: flex;
   align-items: center;   
   justify-content: center;
   background-color: transparent;

}
ul,
ol {
    list-style: none;
}

.nav>li {
    float: left;
}

.nav li a {
         font-weight: 500;
    background-color: transparent;
    color: black;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}
.submenu li a, .submenu li a:hover {
background-color: #89c161 !important;
   
}
.submenu li {
    width: 200px;
}

 .submenu li a:hover {
     background-color: #89c161 !important;
     font-weight: 700;
 }
.nav li a:hover {
    background-color: transparent;
    font-weight: 700;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover>ul {
    display: block;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    right: -140px;
    top: 0px;
}